streamlit==1.28.1

pandas==2.1.1
numpy==1.26.1
matplotlib==3.8.0
scipy==1.11.3

# For streamlit charts plot
plotly==5.17.0
altair==5.1.2
vega_datasets==0.9.0

scikit-learn==1.3.2

# For NLP part
nltk==3.8.1
seaborn==0.13.0
textblob==0.17.1

# For remove image background
rembg==2.0.52
pooch==1.8.0

transformers==4.35.0
torch==2.1.0

keras==2.14.0
tensorflow==2.14.0
watchdog==3.0.0

# Object detection
ultralytics==8.0.207

# Data augmentation
albumentations==1.3.1

# audio part
librosa==0.10.1